{{#each products }}
<div class="block">
    <p>
        Title: {{this.title}}
    </p>

    <p>
        Description: {{this.description}}
    </p>
    <p >
        <img class="house-img" src="{{this.image}}">
    </p>
        <p>
        Accomodates: {{this.beds}}  
    </p>
        <p>
        Price/night: ${{this.price}}
</p>
</div>
{{/each}}