<h2 class="page-header">Room Dashboard</h2>

<section class="rooms-container signInBlock">
    <form method="POST" action="/room/search">
        <label>Search By</label>
        <select name="room-search" class="field-font">
            <option value="all">All rooms</option>
            <option value="Available">Available</option>
            <option value="Reserved">Reserved</option>
        </select>
        

        <input type="submit" value="Search"  class="edit-delete-button">
    </form> 
    <br><br>

    <table border="1" style="text-align: center;">
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Location</th>
            <th>Price</th>
            <th>Status</th>
            <th>Operation</th>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>
                    <a href="/room/profile/{{this.id}}" class="room-title">{{this.title}}</a>
                </td>
                <td>
                    <span>{{this.description}}</span>
                </td>
                <td>
                    <span>{{this.location}}</span>
                </td>
                <td>
                    <span>{{this.price}}</span>
                </td>
                <td>
                    <span>{{this.status}}</span>
                </td>
                <td>
                    <a href="" class="edit-delete-button">Edit</a>
                    <a href="" class="edit-delete-button">Delete</a>
                </td>
            </tr>
        </tbody>
        {{/each }}
    </table>

</section>

<div id="rooms-links-holder" >
    <a href="/room/add" class="button margin">Add a Room</a>
</div>